p {
    color: blue;
}

h2 {
    color: aqua;
    text-align: center;
}

body {
    background-color: coral;
}
.luta {
    color: aqua;
}

#titulo {
    color: red;
}
.luta {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}